@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    color: var(#6B110F);
}
*{
font-family: spartan ;
margin: 0;
padding: 0;
}
body::-webkit-scrollbar {
    width: 10px; 
}
body::-webkit-scrollbar-track {
    background: #57423F;
}
  body::-webkit-scrollbar-thumb {
    background-color: #ba172a;
    border-radius: 0px; 
    border: 0px solid rgb(0, 0, 0);

}
body{
    background-color: #57423F;
}

header{
    background-color: #ba172a;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 10px ;
    box-shadow: 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logop{
    margin: 0px;
    padding: 0px;
}
#ftlogo{
    width: 30px;
}
#logo:hover{
    cursor:default;
}
#eaqui{
    cursor: default;
    background-color: #ba172a;
    padding: 0px 0px 2px 0px;
}
#aqui{
    background-color: #19d413;
    width: 95px;
    padding: 1px;
    border-radius: 2px;
    text-align: center;
    font-size: 0.8em;
    margin-left: 2px;
}
#menua{
    position: absolute;
   right: 0;
   top: 0;
   margin-top: 5px;
   margin-right: 5px;
   cursor: pointer;
}
#menu{
    display: none ;
}
#menuf{
    cursor: pointer;
}
#menu-fundo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#menulista{
    display: flex;
    background-color: #ba172a ;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 0px;
    width: 85%;
    height: 100%;
}
#menulista > p {
    width: 88%;
    height: 9%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;     
}
#menulista > a {
    text-decoration: none;
    color: #000000;
}
.botaoh {
    color: #000000 ;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: color 2s ease;
    transition: transform .2s ease;
   } 
   .botaoh::before {
    content: '';
    inset: 0 0 0 0;
    margin: auto;
    height: 0px;
    width: 0px;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    transition: all .2s ease;
   }
   .botaoh:active {
    transform: scale(.9);
   }
   .botaoh:hover {
       color: #ec1111;
   } 
   .botaoh:hover:before {
    height: 200px;
    width: 100%;
   }

#ftham{
  display: table;
  width:100%;
  padding: 40px 0;
  text-align: center;
  color: white;
  background: url(ftham-fundo.jpg);
  background-position: center center;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    display: inline;
}
#op{
    margin: 10px;
 
}
#op > a {
    margin: 10px;
    text-decoration: none;
    color: black;
    display: none;
}
#op > a:hover
{
    text-decoration: underline;
    border-radius: 10px;
    padding: 3px;
}
#cadastro{
    margin-top: 10px;
    display: none;
}
#cadastro > a {
    margin: 10px;
    text-decoration: none;
    color: black;
}
#cadastro > a:hover{
    border-radius: 8px;
    padding: 1px;
}
main{
    
    text-align: center;
}
#tfoto{
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    background-color:#ba172a;
    width: 95%;
    margin: 0px 0px 10px 0px;
    box-shadow: 0px 0px 45px;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
div.videos{ 
    background-color: black;
    padding: 0px;
    position: relative;
    padding-bottom: 55%;
}
    div.videos > video {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#tvideo{
    font-size: 1.1em;
    display: inline-block;
    text-align: center;
    background-color:#ba172a;
    width: 95%;
    margin: 0px 0px 10px 0px;
    box-shadow: 0px 0px 45px;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
#pedir > a {
    text-decoration: none;
    color: black;
}
#foto{
    margin: 20px;
    border-radius: 2px;
}
article{
    border-style: solid;
    border-width: 2px;
    margin: 10px 5px 10px 5px;
}
#tcardapio{
    font-size: 1em;
    padding: 10px;
}
#cxcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.descpreco{
    display: flex;
    margin-top: 20px;
}
.relaxas{
    width: 90%;
    height: 120px;
    color: #ba172a;
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}
.relaxas:hover{
    transition: 0.3s;
    width: 93%;
    box-shadow: 0px 0px 10px;
    cursor: pointer;
}
.titulocardap{
    font-size: 1em;
}
.rlxdescri{
    font-size: 0.9em;
    color: white;
}
.precos{
    font-size: 0.9em;
    color: #56f019;
}
#tfincard{
    font-size: 1.1em;
    padding: 10px;
    margin: 10px;
}
#hora{
    background-color: gold;
   margin: 10px;
   border: black;
   border-style: solid;
   padding: 10px;
}
#tmapa{
    font-size: 0.6em;
    margin: 20px 5px 0px 5px;
}
#rua{
    font-size: 0.5em;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    background-color: black;
    box-shadow: 0px 0px 5px black;
    color: white;
    width: 89%;
}
#mapa{ 
    background-color: #57423F;
    padding: 5px;
    position: relative;
    padding-bottom: 50%;
    overflow:hidden;
    height:0;
}
#mapa > iframe {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 80%;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: gold;
}
.linkfooter{
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
#foter{
    display: flex;
    justify-content: space-around;
}
#final{
    height: 200px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
#modal-none{
    display: none;
}
#modal-transparencia{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-fechar{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 10px 0px 0px;
    color: red;
    cursor: pointer;

}
#modal-conteudo{
    position: relative;
    width: 98%;
}
.foto-modal{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.modal-hamb{
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}
.modal-fundo-cnt{
    background-color: #e4e015;
    padding: 10px;
    margin: auto;
    margin-top: -5px; 
}
.modal-igt{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6em;
}
.modal-preco{
    text-align: center;
    margin: 10px;
    font-size: 0.5em;
}
.modal-obs{
    font-size: 0.6em;
    padding: 10px;
    margin: auto;
}
#modal-texto{
    width: 300px;
    height: 40px;
}
#modal-adc{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#modal-botao{
    background-color: red;
    width: 100%;
    margin-bottom: -10px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    cursor: pointer;
}
@media (min-width: 800px){
    header{
    background-color: #ba172a;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 45px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around; 
}
#ftlogo{
    width: 46px;
}
#menuham{
    display: none;
}
#menu{
    display: none;
}
h1{
    font-size: 4em;
}
#cadastro{
    display: inline;
}
#op > a{
    display: inline;
}
#ftham{
    display: table;
    width:100%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(ftham-fundo.jpg);
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#op{
    margin: 30px 0px 0px 0px;
 
}
#cadastro{
    margin: 30px 0px 0px 0px;
}
.relaxas{
    display: inline-block;
    max-width: 350px;
    height: 190px;
    color: #ba172a;
    background-color: black;
    box-shadow: 0px 0px 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.descpreco{
    display: inline;
    font-size: 1.2em;
}
.titulocardap{
    font-size: 1.3em;
    margin-bottom: 10px;
}
.rlxdescri{
    margin-bottom: 20px;

}
#mapa{ 
    background-color: #57423F;
    padding: 5px;
    position: relative;
    padding-bottom: 50%;
    overflow:hidden;
    height:0;
    margin-bottom: 5px;
}
#mapa > iframe {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 60%;
}
#rua{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
    background-color: black;
    box-shadow: 0px 0px 5px black;
    color: white;
    font-size: 1em;
    width: 88.50%;
}
#tcardapio, #tvideo, #tfoto{
        font-size: 2em;
}
#tmapa{
    margin: 10px;
    font-size: 1em;
}
#trua{
    font-size: 1em;
}
#modalnone{
    display: none;
}
#modal-transparencia{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-fechar{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 20px 0px 0px;
    color: red;
    cursor: pointer;

}
#modal-conteudo{
    max-width: 700px;
    min-width: 300px;
    height: 700px;
    margin: 10%;
    position: relative;
}
.foto-modal{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.modal-hamb{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.modal-fundo-cnt{
    background-color: #e4e015;
    padding: 10px;
    margin: auto;
    margin-top: -5px;
}
.modal-igt{
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.modal-preco{
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
}
.modal-obs{
    padding: 10px;
}
#tobs{
    width: 300px;
    height: 50px;
}
#modal-adc{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#modal-botao{
    background-color: red;
    width: 100%;
    height: 30px;
    border-style: none;
    cursor: pointer;
}
}
@keyframes modalanimacao {
    from {
        opacity: 0;
        transform: translate3d(0px, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}
#modal-conteudo  {
    animation: modalanimacao .2s ;
}
 